<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.InvestmentPreferencesRepository">

    <select id="findByClientId" resultType="com.example.demo.models.InvestmentPreferences">
        SELECT * FROM INVESTMENT_PREFERENCES WHERE CLIENTID = #{clientId}
    </select>

    <insert id="insert">
        INSERT INTO INVESTMENT_PREFERENCES (CLIENTID, INVESTMENT_PURPOSE_ID, RISK_TOLERANCE_ID, INCOME_CATEGORY_ID, INVESTMENT_DURATION_ID, ACCEPTEDTERMS)
        VALUES (#{clientId}, #{investmentPurposeId}, #{riskToleranceId}, #{incomeCategoryId}, #{investmentDurationId}, #{acceptedTerms})
    </insert>

    <update id="update">
        UPDATE INVESTMENT_PREFERENCES SET
        RISK_TOLERANCE_ID = #{riskToleranceId},
        INCOME_CATEGORY_ID = #{incomeCategoryId},
        INVESTMENT_PURPOSE_ID = #{investmentPurposeId},
        INVESTMENT_DURATION_ID = #{investmentDurationId},
        ACCEPTEDTERMS = #{acceptedTerms}
        WHERE CLIENTID = #{clientId}
    </update>

</mapper>
