.sell-page {
  display: grid;
  grid-template-areas: "header header" "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: #1a1a2e;
  overflow: hidden;
}
app-header {
  grid-area: header;
  z-index: 10;
}
app-sidebar {
  grid-area: sidebar;
  z-index: 5;
}
app-history {
  grid-area: content;
  overflow-y: auto;
}
